#! /home/akucwh/apps/dakota/rhel7/dakota-6.14.0-release-public-rhel7.x86_64-gui_cli/bin/dakota
# Dakota Input File: dakota_dace_oas.in


environment
    tabular_data
        tabular_data_file = './pre/dakota/dakota_dace_oas.dat'
        custom_annotated header eval_id


method
    multidim_parameter_study
    partitions {{data.partitions}}


variables
    active
        design
    continuous_design =  data.continuous_designs
        lower_bounds  =  {% for d in data.continuous_designs %}d.lower_bound {% endfor %}
        upper_bounds  =  {% for d in data.continuous_designs %}d.upper_bound {% endfor %}
        descriptors   =  {% for d in data.continuous_designs %}d.descriptor {% endfor %}
    continuous_state  =  data.continuous_states
        lower_bounds  =  {% for d in data.continuous_states %}d.lower_bound {% endfor %}
        upper_bounds  =  {% for d in data.continuous_states %}d.upper_bound {% endfor %}
        descriptors   =  {% for d in data.continuous_states %}d.descriptor {% endfor %}
        

interface
    fork
        parameters_file = 'dakota_params'
        analysis_drivers = './pre/scripts/dakota_analysis_driver.sh'
        results_file = 'dakota_driver_responses'
        file_tag
        file_save
        work_directory
            named = 'doe'
            directory_tag
            directory_save
        asynchronous evaluation_concurrency = 10
    deactivate
        active_set_vector
        evaluation_cache
        restart_file


responses
    response_functions = 1
    no_gradients
    no_hessians
